@font-face {
    font-family: Typewritter;
    src: url("fonts/JMH_Typewriter-Bold.ttf");
}

body { 
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(img/background.png);
    background-position: center;
} 

header {
    display:flex;
    justify-content: center;
}

#logo {
    display: flex;
    margin: 0%;
    width: 90px;
    height: 96px;
}

h1 {
    display:inline;  
    font-size: 50pt;
    color: rgb(160,125,133);
    margin:0%;
    margin-top: 1%;
}

.container {
    border-radius: 25px;
    background-color: rgb(0, 0, 0, .8);
    /* opacity: 0.8; */
    padding: 15px;
    align-items: center;
    margin: 2%;
    display: flex;
    justify-content: space-around;

}
figcaption{
    color: blanchedalmond;
    font-family: Typewritter;
    font-size:10pt;
}

#DorisGabriela {
    width: 450px;
    height: 310px;
    margin-top: 5%;
    border-radius: 5%;
}

h2  {
    align-content: center;
    text-align: center;
    color: rgb(160,125,133);
    font-size: 20pt;
    margin: 3%;
    font-family: Typewritter;
}

button {
    background: rgb(160,125,133, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: #FAFAFA;
    font-size: 18px;
    height: 50px;
    width: 110px;
    font-family: Typewritter;
}

button:hover{
    background-color: rgba(160, 125, 133);
    transition: ease 0.2s;
}

.homeBtn {
    display: flex;
    justify-content: center;
    margin-top:5%;
}

textarea {
    width: 400px;
    height: 200px;
    border-radius: 25px;
    font-size: 12pt;
    padding: 6%;
    margin: 0%;
    text-align: justify;
    resize: none;
    font-family: Typewritter;
    background-image: url(img/letterBackground2.PNG);
}
.entryText {
    display: flex;
    justify-content: center;
    margin-right: 0;
}

h3 {
    color:blanchedalmond;
    font-size: 20pt;
    display: flex;
    justify-content: center;
}

/* FIX THIS NONSENSE */
.centerCipher {
    display: flex;
    justify-content: center;
}
/* END FIX THIS NONSENSE */

/* TEST */
#displacement{
    font-size: 10pt;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
}

/* TEST COLUMNAS */
.columnContainer {
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

.cipherContainer {
    display: inline-block;
    flex: 1;
    margin: 0 8px; /* Space between columns */
}

.poemContainer {
    /* width: 500px; */
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .5);
    display: inline-block;
    flex: 3;
    margin: 0 8px;
    
}

section p {
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    font-family: "Courier New", Courier, monospace;
    /* background: #e4e4e4; */
    transition: all 0.2s ease-in;
    font-family: Typewritter;
    background-image: url(img/letterBackground2.PNG);
}

section a {
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 10px;
    font-family: "Courier New", Courier, monospace;
    background-color: #212121;
    border-bottom: 2px solid gray;
    color: white;
}

section:target p {
    max-height: 120px;
    padding: 10px;
}

.landingContainer{
    display: flex;
}

#displacement {
    font-family: Typewritter;
    text-align: center;
    font-size: 16px;
    margin-left: 4%;
    margin-right: 4%;
    background-image: url(img/letterBackground2.PNG);
    border-radius: 25%;
}

#youtubeDocumental {
    margin-top: 0%;
    border-radius: 5%;
    display: flex;
    margin-left: 3%;
}

::placeholder {
    color:rgba(0, 0, 0, 0.65);
}

#arrow {
    width: 50px;
    height: 50px;
}

.eraseBtn button {
    display: flex;
    justify-content: center;
}