body {
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(img/background.png);
    background-position: center;
    
} 

header {
    display:flex;
    justify-content: center;

    
}

figure {
    display: flex;
    margin: 0%;
    width: 100px;
    height: 100px;
    
}

h1 {
    display:inline;  
    font-size: 50pt;
    color: rgb(160,125,133);
    margin:0%;
    margin-top: 2%;
    
}

.container {
    border-radius: 25px;
    background-color: black;
    opacity: 0.8;
    padding: 15px;
    align-items: center;
    margin: 2%;
}

p  {
    align-content: center;
    text-align: center;
    color: rgb(160,125,133);
    /* border: solid;
    border-color:rgba(160,125,133); */
    font-size: 24pt;
    margin: 3%;
    
}

button {
    background: rgb(160,125,133);
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: #FAFAFA;
    font-size: 24px;
    height: 50px;
    width: 180px;
}

.homeBtn {
    display: flex;
    justify-content: center;
}

textarea {
    width: 800px;
    height: 200px;
    border-radius: 25px;
    font-size: 18pt;
    padding: 1%;
    margin: 0%;
    text-align: justify;
    resize: none;
}
.entryText {
    display: flex;
    justify-content: center;
    margin-right: 0;

}

h3 {
    color:blanchedalmond;
    font-size: 20pt;
    display: flex;
    justify-content: center;
}

.centerCipher {
    display: flex;
    justify-content: center;
}


