html {
    height: 100%;
}

@font-face {
    font-family: Header_Font;
    src: url("Font/yugothil.ttf");
}

/* @font-face {
    font-family: General_Font;
    src: url("Font/Alatsi.ttf");
} */


body {
    margin:0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size:cover;
    background-position: center;
    background-image: url(img/background.png);
}

header {
    background-color: #2E3E38;
    opacity: 0.75;
    display: flex;
    justify-content: space-evenly;
    height: 15%;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Header_Font;
    font-size: 50px;
    color: white;
    /* letter-spacing: 12px; */
}

.logo {
    display: flex;
    justify-content: right;
    height: 100%;
}

footer {
    background-color: #2E3E38;
    opacity: 0.75;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
audio {
    justify-content: right;
}

p {
    font-family: Header_Fo;
    font-size: 20px;
}